/* span : inline 속성, width/height 속성 무시, 글만큼 크기가 정해진다 */
.box {
    background-color: blue;
    /* block 속성 지정 */
    display: block;
    /* 가로 크기 */
    width: 50px;
    /* 세로 크기 */
    height: 50px;

}
.box2 {
    background-color: red;
    /* block 속성 지정 */
    display: block;
     /* 가로 크기 */
     width: 50px;
     /* 세로 크기 */
     height: 50px;
    
}
.box3 {
    background-color: yellow;
    /* block 속성 지정 */
    display: block;
     /* 가로 크기 */
     width: 50px;
     /* 세로 크기 */
     height: 50px;
    
}