ul {
    /* 배경색 */
    background-color: #f5f7e4;
    /* 외곽선 */
    /* border: 선두께 선스타일 선색상 */
    border: 1px solid #cccccc;
    /* 둥근 사각형(모서리) */
    border-radius: 10px;
    /* 가로 크기 */
    width: 640px;
    /* 안쪽 여백 */
    padding: 30px;
}

li {
    /* 앞에 목록 점 없애기 */
    list-style-type: none;
    /* 바깥여백 - 왼쪽 */
    margin-left: 20px;
    /* display : 가로 배치  */
    display: inline-block;
}