li {
    /* 앞에 점 없애기 */
    list-style-type: none;
}

/* 세로 메뉴 디자인 */
#v_menu {
    /* 가로 */
    width: 150px;
}

/* 후손 선택자 */
#v_menu li {
    /* 안쪽 여백 */
    padding: 5px;
    /* 외곽선 : 아래 : 선크기 선스타일(점선) 선색상 */
    border-bottom: 1px dotted black;

}

/* 가로 메뉴 디자인 */
/* 후손 선택자 */
#h_menu li {
    /* display : 가로 배치 */
    display: inline-block;
}

.menus {
    color: green;
    /* 바깥 여백 */
    margin-left: 20px;
    margin-right: 20px;
}