body {
    font-family: '돋음';
}


h3 {
    color: blue;
    font-family: '맑은고딕';
}


li {
    list-style-type: square;
    font-size: 16px;
}

p {
    line-height: 150%;
    font-size: 14px;
    
}
span {
    font-weight: bold;
}