/* box 기본 속성 : 상세 */
div {
    /* 가로 */
    width: 100px;
    /* 세로 */
    height: 100px;
    /* 외곽선 */
    /* border: 선두께 선스타일 선색깔 */
    border: 5px solid orange;
    /* 안쪽 여백 : 상/좌/하/우*/
    /* 축약형 */
    /* padding 상 우 하 좌 (12기준으로 한바퀴 돈다) */
    padding: 30px 0 30px 0;

    /* padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-right: 30px; */

    /* 바깥 여백: 상/좌/하/우 */
    /* 축약형 */
    /* margin : 상 우 하 좌 */
    margin-left: 0;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;

}
