#title1 {
    /* 외곽선 (위쪽) */
    /* border-top: 선두께 선스타일 선색상 */
    border-top: 2px solid black;
    padding: 5px;
    width: 345px;
}
#title2 {
    border-left: 2px  solid #e1285a;
    
    padding: 5px;
}
#title3 {
    border: 2px solid skyblue ;
    /* TODO: 둥근 사각형 속성 */
    /* TODO : 사용법 -  border-radius: 크기; (크기가 클수록 원이 됨 */
    border-radius: 3px;
    padding: 5px;
    width: 345px;
}

