/* 문제 풀이 */
/* css 디자인 여백 초기화 */
/* 웹브라우저 (크롬,익스플로러, 파이어폭스 등) */
* {
    padding: 0;
    margin: 0;
}
#banner{ 
    background-color: #f6e9ed;
    width: 320px;
    height: 180px;
    /* 외곽선 */
    /* border:선두께 선스타일 선색상 */
    border: 1px solid #cccccc;
    /* 안쪽 여백 */
    padding: 20px;
    /* 바깥 여백 : 위쪽 */
    margin: 20px;
    /* 바깥 여백 : 왼쪽 */
    margin-left: 20px;

}
p {
    /* 바깥여백 : 위쪽*/
    margin-top: 20px;
}
#button {
    background-color: palevioletred;
    color: white;
    /* 글자 크기 */
    font-size: 12px;
    /* 가로크기  */
    width: 100px;
    /* 둥근 사각형(모서리) */
    border-radius: 5px;
    /* 안쪽여백 */
    padding: 5px;
    /* 글자 중앙 정렬 */
    text-align: center;
    /* 바깥 여백 : 위쪽 */
    margin-top: 30px;
}
