body {
    color: #444444;
}
/* 나의 일정 제목 */
h3{ 
    /* 외곽선 - 왼쪽 */
    /* border-left: 선두께 선스타일 선색상 */
    border-left: 5px solid green ;
    /* 안쪽 여백 - 왼쪽 */
    padding-left: 10px;
}
/* 날짜  */
div{

    width: 610px;
    text-align: right;
}

/* 공통 속성 :
    선택자,선택자2 ... {}
*/
table, td {
   
    border: 1px solid #aaaaaa;
    
}
table {
    /* 테이블 선사이 간격 붙이기 속성 */
    border-collapse: collapse;
    /* 가로 크기 */
    width: 610px;
    /* 바깥 여백 - 위쪽 */
    margin-top: 10px;
    /* 글자 크기 */
    font-size: 12px;
}
tr{
    height: 60px;
}
td {
    width: 76px;
    padding: 5px;
    
}
