/* 문제 풀이 : Morai One, Diphylleia */
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Moirai+One&family=Nanum+Pen+Script&display=swap');


h1 {
     font-family: 'Moirai One', cursive;
     /* 글자 중앙 정렬  */
     text-align: center;
}

p {
    font-family: 'Diphylleia', serif;
    /* 글자 중앙 정렬 */
    text-align: center;
}